@{
    ViewBag.Title = "About";
}

@{
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div id="avatarDiv" class="thumbnail">
                <img id="imgAvatar" src="~/Content/Misc/Lifey Wifey.jpg" alt="Picture" />
            </div>
        </div>
        <div class="col-md-3">
            <h1>Ben Swanson</h1>
            <h4>Full Stack Web Developer</h4>
            <div class="btn-group">
                <a class="btn btn-default" href="mailto:swansob@gmail">
                    <i class="fa fa-envelope" title="Email Address"></i>
                </a>
                <a class="btn btn-default" href="https://github.com/brswanson">
                    <i class="fa fa-github" title="Github URL"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 company clearfix technologies">
            <div class="row">
                <div class="title">Languages & Frameworks</div>
                <div class="description">C#, VB.NET, ASP.NET, ADO.NET, Web API, Entity, Python, T-SQL, JS, jQuery, AngularJS</div>
            </div>
            <div class="row">
                <div class="title">Technologies & Tools</div>
                <div class="description">Microsoft Azure, Cloud Based Applications, Git, TFS, Subversion, SSMS, SSRS, SSIS, IIS, JIRA, Agile</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1>Experience</h1>
    <div class="company clearfix">
        <div class="col-xs-3">
            <div class="location">Kunz, Leigh & Associates</div>
            <div class="year">2015 - Present</div>
        </div>
        <div class="col-xs-9">
            <div class="title">Senior Developer / Tech Lead</div>
            <div class="description">Implemented a cloud based claim adjudication system for Ohio's three largest Alcohol, Drug and Mental Health Boards which processes over $50,000,000 of claims annually.</div>
            <ul class="description">
                <li>Architect cloud based web applications for Ohio government organizations: Healthcare, Transportation.</li>
                <li>Manage application releases.</li>
                <li>Lead developers through Agile SDLC.</li>
            </ul>
        </div>
    </div>
    <div class="company clearfix">
        <div class="col-xs-3">
            <div class="location">Ohio Health Group</div>
            <div class="year">2013 - 2015</div>
        </div>
        <div class="col-xs-9">
            <div class="title">Senior Developer</div>
            <div class="description">Implemented a web based ETL scheduling system for the importing and exporting of patient and claim data.</div>
            <ul class="description">
                <li>Administrated bulk data import and mirrored reporting environments.</li>
                <li>Maintained company web applications in the Healthcare industry.</li>
            </ul>
        </div>
    </div>
    <div class="company clearfix">
        <div class="col-xs-3">
            <div class="location">Emprise Technologies</div>
            <div class="year">2012 - 2013</div>
        </div>
        <div class="col-xs-9">
            <div class="title">Developer</div>
            <div class="description">Implemented 35 custom ETL applications according to the needs of their respective clients.</div>
            <ul class="description">
                <li>Visited clients for on site development, requirements gathering, and JAD sessions.</li>
                <li>Developed ETL applications in the Accounts Receivable industry.</li>
            </ul>
        </div>
    </div>
    <div class="company clearfix">
        <div class="col-xs-3">
            <div class="location">Marathon Petroleum</div>
            <div class="year">2010 - 2011</div>
        </div>
        <div class="col-xs-9">
            <div class="title">Co-Op/Intern</div>
            <div class="description">Developed a web application for tracking the maintenance of warehouse handheld devices.</div>
            <ul class="description">
                <li>Translated User stories into actionable software requirements</li>
                <li>Developed interactive ad hoc reports in the Petroleum industry</li>
            </ul>
        </div>
    </div>
</div>
