@{
    ViewBag.Title = "About";
}

@{
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div id="avatarDiv" class="thumbnail">
                <img id="imgAvatar" src="~/Content/Misc/Lifey Wifey.jpg" alt="Picture" />
            </div>
        </div>
        <div class="col-md-3">
            <h1>Ben Swanson</h1>
            <h4>Software Engineer</h4>
            <div class="btn-group">
                <a class="btn btn-default" href="mailto:slash.brswanson@gmail.com">
                    <i class="fa fa-envelope" title="Email Address"></i>
                </a>
                <a class="btn btn-default" href="https://github.com/brswanson">
                    <i class="fa fa-github" title="Github URL"></i>
                </a>
            </div>
        </div>
    </div>
</div>